﻿<html ng-app="PessoaCRUD">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
		<script src="js/graficos.js"></script>
		<script src="js/main.js"></script>
		
		<link href="css/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body ng-controller="PessoaController as pessoas">
		<div class="container">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<ul class="nav nav-tabs nav-justified">
							<li role="presentation" class="active"><a id="linkListar" href="#listar" aria-controls="listar" role="tab" data-toggle="tab">Listar Pessoas</a></li>
							<li role="presentation"><a id="linkPersistir" href="#persistir" aria-controls="persistir" role="tab" data-toggle="tab">Criar/Editar</a></li>
							<li role="presentation"><a href="#relatorio" aria-controls="relatorio" role="tab" data-toggle="tab">Relatório</a></li>
						</ul>
						<div class="tab-content">
							<div id="listar" role="tabpanel" class="tab-pane active">
								<div class="table-responsive">
									<table class="table">
										<tr>
											<th style="width: 30px">Id</th>
											<th>Nome</th>
											<th>Data de Nascimento</th>
											<th>Identificação</th>
											<th>Sexo</th>
											<th>Endereço</th>
											<th>Editar</th>
											<th>Deletar</th>
										</tr>
										<tr ng-repeat="pessoa in pessoas.entities">
											<td>{{pessoa.id}}</td>
											<td>{{pessoa.nome}}</td>
											<td>{{pessoas.renderDate(pessoa.dataNascimento)}}</td>
											<td>{{pessoa.identificacao}}</td>
											<td>{{pessoas.renderSexo(pessoa.sexo)}}</td>
											<td>{{pessoa.endereco}}</td>
											<td><a href="#persistir" ng-click="pessoas.editar(pessoa.id)">Editar</a></td>
											<td><a href="#listar" ng-click="pessoas.deletar(pessoa.id)">Deletar</a></td>
										</tr>
									</table>
								</div>
							</div>
							<div id="persistir" role="tabpanel" class="tab-pane">
								<div class="form-group">
									<label for="id">Id</label>
									<input id="id" ng-model="pessoas.id" class="form-control" disabled="true" />
								</div>
								<div class="form-group">
									<label for="nome">Nome</label>
									<input id="nome" ng-model="pessoas.nome" class="form-control" />
								</div>
								<div class="form-group">
									<label for="dataNascimento">Data de Nascimento</label>
									<input id="dataNascimento" ng-model="pessoas.nascimento" ng-change="pessoas.dateMask()" class="form-control" />
								</div>
								<div class="form-group">
									<label for="identificacao">Documento de Identificação</label>
									<input id="identificacao" ng-model="pessoas.identificacao" class="form-control" />
								</div>
								<div class="form-group">
									<label for="sexo">Sexo</label>
									<div id="sexo">
										<label for="masc"><input id="masc" ng-model="pessoas.sexo" type="radio" name="sexo" ng-value="1" />Masculino</label>
										<label for="fem"><input id="fem" ng-model="pessoas.sexo" type="radio" name="sexo" ng-value="0" />Feminino</label>
									</div>
								</div>
								<div class="form-group">
									<label for="endereco">Endereço</label>
									<input id="endereco" ng-model="pessoas.endereco" class="form-control" />
								</div>
								<input type="button" ng-click="pessoas.persistir()" value="Salvar">
								<input type="button" ng-click="pessoas.cancelar()" value="Cancelar">
							</div>
							<div id="relatorio" role="tabpanel" class="tab-pane">
								<div class="row">
									<canvas id="graficoIdade" width="330" height="300"></canvas>
								</div>
								<div class="row">
									<canvas id="graficoSexo" width="330" height="300"></canvas>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>